[Unit]
Description=Redis Server {{ redis_start_port + (item - 1) }}
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/redis-server /etc/redis/{{ inventory_hostname }}/redis-node-{{ item }}.conf
ExecStop=/usr/bin/redis-cli -p {{ redis_start_port + (item - 1) }} shutdown
User=redis
Group=redis
WorkingDirectory=/var/lib/redis/
{% if redis_cpu_affinity is defined %}
CPUAffinity={{ redis_cpu_affinity }}
{% endif %}

[Install]
WantedBy=multi-user.target